.page-top {
  width: 100%;
  background-color: $black;

  .page-template-frontpage & {
    height: calc(100% - 120px);
  }
  
  .page-template-archive & {
    height: 320px;
  }
}

.page-top-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
}

.page-top-inside {
  display: table-cell;
  vertical-align: middle;
  color:white;
}


