.page-top {
  width: 100%;
  background-color: $black;

  .page-template-frontpage & {
    margin-top: 100px;
    height: 400px;
    @include breakpoint($medium) {
      height: calc(100% - 100px);
      margin-top: 0;
    }
  }

  .page-template-archive & {
    height: 320px;
  }

  .page-template-contact & {
    height: 320px;
  }
}

.page-top-wrapper {
  text-align: center;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
  height: auto;
  width: 100%;
  display: table;
  margin-top: 100px;
  height: 100%;
  margin-top: 0;
}

.page-top-inside {
  display: table-cell;
  vertical-align: middle;
  color: white;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: auto 40%;

  @include breakpoint($lt-medium) {
    background-image: none !important;
    padding-left: 20px;
    padding-right: 20px;
  }

  .page-template-frontpage & {
    // @include breakpoint($medium) {
    //   padding-top: 60px;
    //   vertical-align: top;
    // }
    @include breakpoint($xxlarge) {
      padding-top: 160px;
    }
  }

  img {
    //position: absolute;
    //top: 50%;
    //left: 50%;
    //margin-left: -70px;
    width: 140px;
    margin-bottom: 30px;
    margin-top: 20px;
    @include breakpoint($lt-small) {
      width: 90px;
      margin-top: 0;
      margin-bottom: 20px;
    }
  }

  h1 {
    text-transform: uppercase;
    @include breakpoint($medium) {
      @include adjust-font-size-to(58px);
      margin-bottom: 5px;
    }
    @include breakpoint($lt-small) {
      margin-bottom: 0;
      @include adjust-font-size-to(20px);
    }
  }

  p {
    max-width: 600px;
    margin: 0 auto;
    @include breakpoint($medium) {
      @include adjust-font-size-to(22px);
    }
  }
}


