.archive-list {
  margin-top: rhythm(10);
}

.archive-list-item {
  @extend %clearfix;
  margin-bottom: rhythm(8);

  a {
    text-decoration: none;
  }

  .title {
    @include adjust-font-size-to(24px);
    text-transform: uppercase;
    color: $blue;
  }

  &:nth-child(2n+2) {
    .title {
      color: $pink;
    }
  }

  .text {
    @include breakpoint($medium) {
      @include adjust-font-size-to(24px);
    }
  }

  .published {
    text-transform: uppercase;
    @include breakpoint($medium) {
      @include adjust-font-size-to(18px);
    }
  }

  &:hover{
    .title{
      text-decoration: underline;
    }
  }

}

.archive-list-img {
  margin-bottom: rhythm(4);

  @include breakpoint($medium) {
    @include span(4);
    margin-bottom: 0;
  }
  img{
    width:100%;
  }
}

.archive-list-text {
  @include breakpoint($medium) {
    @include span(last 7);
  }
}