.front-page-nav{
  height:120px;
  background-color: white;
  width: 100%;
  border: 1px solid #ddd;

  &.stuck {
    position:fixed;
    top:0;
    z-index: 1000;
  }

  ul{
    float:left;
    li{
      display: inline-block;
      margin-right: 20px;
    }
  }

  div{
    float:right;
  }
}

