.front-page-nav{
  height:100px;
  background-color: white;
  width: 100%;
  border: 1px solid #ddd;
  position: relative;

  .nav-button {
    border: 1px solid black;
    display: block;
    position: absolute;
    left: 15px;
    top: 50%;
    height: 50px;
    width: 50px;
    margin-top: -25px;
    background: url(../images/hamburger.svg) no-repeat center center;
    z-index: 1000;
    cursor: pointer;
    @include breakpoint($medium) {
      display: none;
    }
  }

  &.stuck {
    position:fixed;
    top:0;
    z-index: 1000;
  }

  ul {
      @include breakpoint($lt-medium) {
        display: none;
      }
      display: block;
      position: absolute;
      bottom: 0;
      //border: 1px solid red;
      padding: 0;
      left: 50px;

      &.visible {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: white;
      }
      
      li {
          @include breakpoint($medium) {
            display: inline-block;
          }
        a {
          //color: white;
          padding: 40px 20px 30px;
          //height: 120px;
          display: inline-block;
          text-decoration: none;
          font-weight: 700;
          font-style: italic;
          text-transform: uppercase;
          position: relative;
          
          &:hover:after {
            background: $defaultGradient;
            height: 4px;
            display: block;
            content: " ";
            position: absolute;
            bottom: 0;
            left: 10px;
            right: 10px;
          }
        }
      }
    }

  .app-buttons {
    position: absolute;
    right: 20px;
    top: 15px;
  }
}

