/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: rhythm(1) rhythm(3) rhythm(3) 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: rhythm(1) auto rhythm(1) auto;
}

.alignright {
  float:right;
  margin: rhythm(1) 0 rhythm(3) rhythm(3);
}

.alignleft {
  float: left;
  margin: rhythm(1) rhythm(3) rhythm(3) 0;
}

a img.alignright {
  float: right;
  margin: rhythm(1) 0 rhythm(3) rhythm(3);
}

a img.alignnone {
  margin: rhythm(1) rhythm(3) rhythm(3) 0;
}

a img.alignleft {
  float: left;
  margin: rhythm(1) rhythm(3) rhythm(3) 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%; /* Image does not overflow the content area */
  padding: rhythm(1) 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: rhythm(1) rhythm(3) rhythm(3) 0;
}

.wp-caption.alignleft {
  margin: rhythm(1) rhythm(3) rhythm(3) 0;
}

.wp-caption.alignright {
  margin: rhythm(1) 0 rhythm(3) rhythm(3);
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  @include adjust-font-size-to(12px, 3);
  margin: 0;
  padding: 0 rhythm(1) rhythm(1);
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: rhythm(1);
  line-height: normal;
  padding: 1rhythm(1) 23px 14px;
  text-decoration: none;
  top: rhythm(1);
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}