blockquote{
  color:$blueText;
  @include adjust-font-size-to(35px);
  border-top: 2px solid $blueText;
  padding-top: 36px;
  margin-top: 36px;
  position: relative;

  &:before{
    content:"";
    background-image: url("../images/quote2.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-color: white;
    background-size: 43px 30px;
    height: 30px;
    width:53px;
    position: absolute;
    top:-17px;
    left:0;
  }
}
