.entry-content, .mce-content-body{
  ul{
    list-style: disc;
    margin-left: 20px;
    margin-bottom: rhythm(3);
  }

  ol{
    list-style: decimal;
    margin-left: 20px;
    margin-bottom: rhythm(3);
  }

  dl{
    margin-bottom: rhythm(3);
  }

  table{
    width: 100%;
    margin-bottom: rhythm(3);

    th{
      font-weight: 700;
      padding: rhythm(1);
      border: 1px solid #eee;
    }
    td{
      padding: rhythm(1);
      border: 1px solid #eee;
    }
  }
}