// ==========================================================================
// Vertical Rythm
// ==========================================================================
$base-font-size: 16px;
$base-line-height: 6px;
@include establish-baseline;

@include border-box-sizing;
$legacy-support-for-ie  : true;
$legacy-support-for-ie6 : $legacy-support-for-ie;
$legacy-support-for-ie7 : $legacy-support-for-ie;

$round-to-nearest-half-line: false;
$experimental-support-for-svg: true;

$grid-background-baseline-color: rgba(red,.8);
$grid-background-baseline-height  : $base-line-height;

$numberOfColumnsWide: 12;
$numberOfColumnsNarrow: 6;

$susy: (
  columns: $numberOfColumnsNarrow,
  gutters: 1/3
);

//breakpoints (http://css-tricks.com/snippets/css/media-queries-for-standard-devices/)
$breakpoint-to-ems: true;

//mobile
$lt-small: max-width 667px;

//tablet
$small: min-width 668px;
$lt-medium: max-width 991px;

//desktop
$medium: min-width 992px;
$lt-large: max-width 1279px;

//high res
$large: min-width 1280px;
$lt-xlarge: max-width 1439px;

$xlarge: min-width 1440px;

// ==========================================================================
// Variables
// ==========================================================================

//COLORS
//ALL SITE COLORS EXCEPT BLACK AND WHITE
$alphaColor: #2abb9d !default;
$betaColor: #ffd65d !default;
$gammaColor: #f47a6d !default;
$deltaColor: #41abc9 !default;
$epsilonColor: #46546a !default;

$colors: (
  body: $epsilonColor,
  body-bg: #fff,
  link: $epsilonColor,
  link-hover: $epsilonColor,
  icon: #000,
  icon-hover: lighten(#000, 20%)
) !global;


//FONTS
$fonts: (
  h1: (
    family: #{"HelveticaNeueLT-Light", Arial ,Georgia, sans-serif},
    weight: normal,
    style: normal,
    mobile-size: 32px,
    desktop-size: 42px
  ),
  h2: (
    family: #{"HelveticaNeueLT-Light", Arial ,Georgia, sans-serif},
    weight: normal,
    style: normal,
    mobile-size: 26px,
    desktop-size: 32px
  ),
  h3: (
    family: #{"HelveticaNeueLT-Light", Arial ,Georgia, sans-serif},
    weight: normal,
    style: normal,
    mobile-size: 18px,
    desktop-size: 22px
  ),
  h4: (
    family: #{"HelveticaNeueLT-Roman", Arial, sans-serif},
    weight: normal,
    style: normal,
    mobile-size: 16px,
    desktop-size: 18px
  ),
  default: (
    family: #{"HelveticaNeueLT-Roman", Arial, sans-serif},
    weight: normal,
    style: normal,
    italic-family: null,
    mobile-size: 16px,
    desktop-size: 16px
  ),
) !global;

$greek-alphabet: (alpha, beta, gamma, delta, epsilon, zeta) !global; //http://en.wikipedia.org/wiki/Greek_alphabet
